body{
    width: 100%;
    margin: 0px;
}

body,h1,h2,h3,h4,h5,h6{
    font-family: "Lato", sans-serif
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif
}
.fa-anchor,.fa-coffee {
    font-size:200px
}

.top{
    padding: 15px;
    position: relative;
    position: sticky;
}

.top a{
    text-decoration: none;
    margin-left: 0px;
    padding: 15px;
    opacity: 50%;
    transition: opacity 0.4s;
    color: rgb(94, 2, 185);
}

.top a:hover{
    color: rgb(8, 8, 8);
    opacity: 80%;
}

#upper{
    padding-top: 12px;
    padding-bottom: 433px;
    background: rgb(110,179,225);
    background: linear-gradient(107deg, rgba(110,179,225,0.9727241238292192) 0%, rgba(174,93,206,0.8886905103838411) 46%, rgba(120,230,231,0.9559174011401436) 98%);
}

.text2{
    text-align: center;
}

.main{
    padding-top: 0px;
}

.text1{
    text-align: center;
}


.my-link{
    position: relative;
    margin-left: 715px;
    text-decoration: none;
    padding: 2px 20px 2px 20px;
    background-color: rgb(210, 174, 245);
    border:rgba(41, 40, 40, 0.651) 2px solid;
    border-radius: 60px;
    transition: border-radius 0.3s,letter-spacing 0.3s;
    font-size: 25px;
    animation-name: link;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.my-link:hover{
    background:rgb(194, 173, 243);
    border-radius: 3px;
    letter-spacing: 1.5px;
    color:rgb(91, 169, 241)
}

.ball{
    top: 430px;
    margin-left: 730px;
    width: 15px;
    height: 15px;
    background-color: rgb(243, 68, 45);
    border-radius: 100%;
    position: relative;
    animation-name: ballgame;
    animation-duration: 4s;    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.stick1{
    top: 400px;
    float: left;
    margin-left: 570px;
    width: 4px;
    height: 100px;
    position: absolute;
    background-color: blueviolet;
    border-radius: 20px;
    animation-name: stick1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.stick2{
    top: 400px;
    margin-left: 940px;
    position: relative;
    width: 4px;
    height: 100px;
    background-color: blueviolet;
    border-radius: 20px;
    animation-name: stick2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ballgame {
    0% {left: 195px;top: 500px;}
    15% {left: -155px;top: 600px;}
    30% {left: 195px;top: 680px;}
    50% {left: -155px;top: 520px;}
    70% {left: 195px;top: 420px;}
    85%{left: -155px;top: 480px;}
    100%{left: 195px;top: 500px;}
}

@keyframes stick1 {
    0%{top: 500px;}
    15%{top: 560px;}
    30%{top: 600px;}
    50%{top: 540px;}
    70%{top: 490px;}
    85%{top: 440px;}
    100%{top: 500px;}
}

@keyframes stick2 {
    0%{top: 400px;}
    15%{top: 490px;}
    30%{top: 580px;}
    50%{top: 490px;}
    70%{top: 400px;}
    85%{top: 350px;}
    100%{top: 400px;}
}

@keyframes link {
    0%{background-color: rgb(221, 119, 252);}
    25%{background-color: rgb(250, 68, 129);}
    50%{background-color: rgb(213, 90, 250);}
    75%{background-color: rgb(157, 71, 255);}
    100%{background-color: rgb(221, 119, 252);}
}

#mainpage{
    margin: auto;
    margin-top:50px;
    margin-bottom: 50px;
    padding: auto;
}

#mainpage1{
    background-color: rgba(224, 224, 224, 0.87);
    padding-top: 1px;
    padding-bottom: 1px;
}




